<script type="text/x-handlebars" data-template-name="select-games">
    <div id="overlay"></div>
    <div class="generic_dialog">
      <div class="generic_dialog_popup">
        <div id="pop_content" class="pop_content">
          <div class="close"><a href="#" {{action "close"}}>X</a></div>
          <h2>Select the games you play to see the feed</h2>
          <div class="no_games_msg"><p>We cannnot detect any games on your homepage or your feed :( </p></div>
          <div class="show_games_msg">
            <p>Here are the games we think you play.</p>
            <ul id="games_list" class="game_names clearfix">
{{#each App.gamesController.content }}
              <li class="game_name">
                <input {{bindAttr id="appid"}} type="checkbox" checked="checked" />
                <img src="{{unbound icon_url }}" />
                {{name}}
              </li>
{{/each}}
              <li class="game_name">
                <a href="#" class="suggest" id="suggest_more" {{action "suggestMore"}}>Suggest more...</a>
              </li>
            </ul>
          </div>
          <div class="dialog_buttons"><input type="button" {{action "save"}} value="Save"/></div>
          
        </div>
      </div>
    </div>
</script>

<script type='text/x-handlebars' data-template-name='post'>
{{#with content}}
  <div class="row">
    <a href="http://www.facebook.com/profile.php?id={{unbound actor_id}}" class="fb_pic">
      <img src="http://graph.facebook.com/{{unbound actor_id}}/picture?type=square" />
    </a>
    <div class = "mainWrapper">
      <h6 class="fb_name"><fb:name uid="{{unbound actor_id}}"></fb:name></h6>
      <div class="avatar"><img src="{{unbound picSrc}}" /></div>
      <div class="comment_text">
{{#if message }}
        <h6 class="uiStreamMessage"><span class="messageBody">{{ message }}</span></h6>
{{/if}}
      <div class="uiAttachmentTitle">
        <a target="_blank" href="{{unbound postLink}}">{{title}}</a>
      </div>
      <div class="UIActionLinks">
        <img class="icon_img" src="{{unbound game_icon}}" width=16 height=16>
        <span class="uiStreamSource">
          <abbr class="timestamp"><a target="_blank" href="{{unbound permalink}}">{{ relative_time }}</a></abbr>
        </span>
{{#if actionText }}
        <span class="UIActionLinks"> · <a target="_blank" href="{{unbound postLink}}">{{actionText}}</a></span>
{{/if}}
      </div>
    </div>
  </div>  
{{/with}}
</script>

<h1 class="clear">
  <div class="options">
    <fieldset>
      <input type="radio" checked="checked" class="radio" value="my_friends_post" name="feed_options">
      <label>My Friends' Posts</label>
      <input type="radio"  value="my_posts" class="radio" name="feed_options">
      <label>My Posts</label>
    </fieldset>
  </div>
  My Game Feedsss
</h1>
<script type="text/x-handlebars">
<div class="tellme"><img src="pencil.png" class="icon_img">
  <a href="#" onclick="App.showGameSelector()">Edit Games</a>
</div>
<ul class="tabnav"> 
{{#each App.selectedGames }}
{{#view App.GameFilterView contentBinding="this"}}
{{#with content}}
  <a href="javascript:void(0)">
{{#if icon_url }}
    <img {{bindAttr src="icon_url"}} class="icon_img" {{bindAttr alt="name"}}>
{{else}}
    {{name}}
{{/if}}
  </a>
{{/with}}
{{/view}}
{{/each }}
</ul>
</script>
<h3 class="sub">
  <div class="tellme">(<a href="javascript:Element.toggle('whats_1bonuses'); void(0);" class="tell_me_more">What's this?</a>)</div>
  <div class="one_click_bonus">
    Collect bonuses, each in
    <select class="gu_time" id="gu_time">
      <option value="5">5 secs</option>
      <option selected="" value="10">10 secs</option>
      <option value="15">15 secs</option>
      <option value="20">20 secs</option>
      <option value="25">25 secs</option>
      <option value="30">30 secs</option>
      <option value="45">45 secs</option>
      <option value="60">60 secs</option>
    </select>
    <a onclick="FeedMgr.clickPosts(); return false" href="#" class="gu_button">Collect!</a>
  </div>
</h3>
<div style="display:none;" id="whats_1bonuses">
  <div class="what_is">
    <p>Grab 10 bonuses at once with 1-Click!</p>
      <ul class="arrow">
        <li>It'll open a pop-up window to click the bonuses so please allow popups.</li>
        <li>Please don't close the popup window until it's done; the window will close automatically at the end.</li>
        <li>Some games take longer to load to get the bonuses, so adjust the time to grab each bonuses into longer seconds.</li>
        <li>Hover over the posts and select "Don't collect this for 1-click bonuses" if you don't want to click on that bonus</li>
      </ul>
  </div>
</div>
<div class="fetching"></div>
<div class="row_wrap" id="feed">
</div>

<script>
App.appInit(<%= raw @games %>);
</script>