<script type='text/x-handlebars' data-template-name='post'><span>
{{#with content}}
  <div class="row">
    <a href="http://www.facebook.com/profile.php?id={{unbound actor_id}}" class="fb_pic">
      <img src="http://graph.facebook.com/{{unbound actor_id}}/picture?type=square" />
    </a>
    <div class = "mainWrapper">
      <h6 class="fb_name"><fb:name uid="{{unbound actor_id}}"></fb:name></h6>
      <div class="avatar"><img src="{{unbound picSrc}}" /></div>
      <div class="comment_text">
{{#if message }}
        <h6 class="uiStreamMessage"><span class="messageBody">{{ message }}</span></h6>
{{/if}}
      <div class="uiAttachmentTitle">
        <a target="_blank" href="{{unbound postLink}}">{{title}}</a>
      </div>
      <div class="UIActionLinks">
        <img class="icon_img" src="{{unbound game_icon}}" width=16 height=16>
        <span class="uiStreamSource">
          <abbr class="timestamp"><a target="_blank" href="{{unbound permalink}}">1 minute ago</a></abbr>
        </span>
{{#if actionText }}
        <span class="UIActionLinks"> · <a target="_blank" href="{{unbound postLink}}">{{actionText}}</a></span>
{{/if}}
      </div>
    </div>
  </div>  
{{/with}}
</script>

<h2>My Feed</h2>
<div class="row_wrap" id="feed">
</div>

<script type="text/x-handlebars">
{{#view App.SelectGameView}}
    <div id="overlay"></div>
    <div class="generic_dialog">
      <div class="generic_dialog_popup">
        <div id="pop_content" class="pop_content">
          <h2>Select the games you play to see the feed</h2>
          <p>Here are the games we think you play. Remove or search to add more.</p>
          <p>Here are the games you have selected. Remove or search to add more. <a href="#">
            Suggest for me.</a></p>
          <input type="text" class="ex" value="search for games"/>
          <input type="submit" value="add" />
          <ul class="game_names clearfix">
{{#each App.gamesController.content }}
            <li class="game_name">
              <img src="{{unbound icon_url }}" />
              {{name}}
            </li>
{{/each}}
          </ul>
          <div class="dialog_buttons"><input type="button" value="Done"/></div>
          
        </div>
      </div>
    </div>
{{/view}}
</script>

<script>
var feedView = App.FeedView.create();
feedView.appendTo('#feed');
</script>